@media only screen and (min-width: 768px) {
  #paginaMateriais {
    max-width: 100%;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  #paginaMateriais {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .scroll {
    overflow: auto;
    max-height: 25em
  }

  .scrollbar {
    height: 25em;
    overflow-y: auto;
    padding-right: 5px;
  }

  .force-overflow {
    max-height: 25em;
  }

  #style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  #style-3::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    background-color: #F5F5F5;
  }

  #style-3::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
}
