<link href="https://fonts.googleapis.com/css?family=Nunito%7CUbuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito%7CUbuntu&display=swap" rel="stylesheet">
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js" data-autoinit="true"></script>

<div class="tela-cheia-materiais">
  <div class="row" id="paginaMateriais">
    <div class="col-md-6 margin-bottom">
      <h2 class="text-center">Materiais Disponíveis</h2>
      <div class="col-md-12 margin-top">
        <div class="scrollbar" id="style-3">
          <div class="force-overflow">
            <mat-toolbar class="materiais" *ngFor="let material of materiais">
              <mat-toolbar-row class="materiais-row">
                <div class="materiais-row-div">
                  <span class="testandodemais" title="{{material.arquivo}}">{{material.arquivo.slice(17)}}</span>
                  <span class="example-spacer"></span>
                </div>
                <div class="editar-excluir">
                  <i (click)="abreArquivo(material.arquivo.slice(1))" class="fas fa-download"  id="iconeDownload"></i>
                  <i (click)="onDelete(material.id)" class="fas fa-trash"  id="iconeExcluir"></i>
                </div>
              </mat-toolbar-row>

            </mat-toolbar>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 enviar-materiais">
        <h2 class="text-center titulo">Adicionar Material</h2>
        <h5 class="text-center"> {{nome}} </h5>
        <div class="row botoes-materiais d-flex justify-content-around">
          <form class="text-center">
          <div class="row">
            <label class="file-browse">
              Procurar arquivo  <input type="file" id="arquivo" name="file" (change)="onChange($event)" hidden>
            </label>
          </div>
          <div class="row">
            <input class="file-submit" (click)="onSubmit()" type="submit">
          </div>
          </form>
        </div>
    </div>

  </div>
</div>

<ng-template #deleteModal class="modal-body">
  <div class="modal-body text-center">
    <h5>Tem certeza que deseja remover esse arquivo?</h5>
    <button type="button" class="btn btn-confirm" (click)="onConfirmDelete()"> Sim</button>
    <button type="button" class="btn btn-decline" (click)="onDeclineDelete()"> Não</button>
  </div>
</ng-template>
