
<div class="tela-cheia">
  <div class="row" id="paginaMateriais">
    <div class="col-md-6 margin-bottom">
      <h2 class="text-center">Materiais Disponíveis</h2>
      <div class="col-md-12 margin-top">
        <div class="scrollbar" id="style-3">

        </div>
      </div>


    </div>
    <div class="col-md-6 margin-bottom">
      <h2 class="text-center">Adicionar Material</h2>
      <form>
        Selecione o arquivo: <input type="file" class="form-control-file" id="arquivo" name="file" (change)="onChange($event)"/>
        <input  (click)="onSubmit()" type="submit">
      </form>
    </div>
  </div>
</div>
