<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Grupos</h2>

  <div class="w3-card-4" style="width:15%">
    <header class="w3-container w3-light-grey">
      <h3>Grupinho</h3>
    </header>
    <div class="w3-container">
      <hr>
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>Ithalo</p><br>
    </div>
        <div class="w3-container">
      <hr>
      <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>Gabi</p><br>
    </div>
      <div class="w3-container">
      <hr>
      <img src="https://www.w3schools.com/w3images/avatar6.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>João</p><br>
    </div>
    <p></p>
    <button class="w3-button w3-block">Ver grupo</button>
  </div>
</div>

</body>
</html>
