<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js" data-autoinit="true"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="tela-cheia">
  <div class="row" id="paginaGrupo">
      <div class="col-md-12">
          <h2 class="text-center">Gerenciar Grupos</h2>
          <form class="grupos_form needs-validation" novalidade [formGroup] = "formularioGrupo">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-float">
                        <input type="text" class="form-control" id="nomeGrupo" aria-describedby="nomeGrupo" placeholder="Nome do Grupo" formControlName="nome" [ngClass]="{ 'is-invalid': submitted && hasError('nome') }">
                        <label for="nomeGrupo">Nome do Grupo</label>
                          <div class="invalid-feedback" *ngIf="hasError('nome')">
                            Por favor, informe o nome do grupo.
                          </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
              <div class="col-md-6">
                  <button type="submit" class=" btn btn-get" (click)="onSubmit()"><span> Enviar</span></button>
                </div>
                <div class="col-md-6">
                    <button type="submit" class=" btn btn-get" (click)="popula()"><span> Gerar Grupos</span></button>
                  </div>
            </div>
        </form>
      </div>

      <div *ngFor="let grupo of grupos" class="col-md-4 card-grupo texte3 -center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">

              <h5 class="card-title" class="text-center">{{grupo.nome}}</h5>
              <div *ngFor="let aluno of alunos">
                <div *ngIf="aluno.grupo == grupo.nome" >
                  <hr>
                  <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:40px">
                  <p class="card-text">{{aluno.first_name}}</p>
                  <hr>
                </div>
              </div >
              <i class="fas fa-edit" id="iconeEditar" [routerLink]="['/editar_grupo', grupo.id]" routerLinkActive="active" ></i>
              <i (click)="onDelete(grupo)" class="fas fa-trash"  id="iconeExcluir"></i>
            </div>
          </div>
    </div>

</div>

</div>

<ng-template #deleteModal class="modal-body">
  <div class="modal-body text-center">
    <h5>Tem certeza que deseja remover esse grupo?</h5>
    <button type="button" class="btn btn-confirm" (click)="onConfirmDelete()"> Sim</button>
    <button type="button" class="btn btn-decline" (click)="onDeclineDelete()"> Não</button>
  </div>
</ng-template>
