h1, h5, h6 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Nunito", sans-serif;
}

.tela-humor {
  margin-top: 5em; 
  text-align: center;
}

.navbar-center{
  background: -webkit-gradient(linear, left top, right top, from(#e194b5), to(#e9b1c9));
  background: linear-gradient(to right, #a0e0e4, #e194b5);
  height: 6em;
  padding: 1.5em;
}

.btn-voltar {
  font-family: "Nunito", sans-serif;
  color: #000 !important;
  text-transform: capitalize;
  background-image: -webkit-gradient(linear, left top, right top, from(#a0e0e4), to(#e9b1c9));
  background-image: linear-gradient(to right, #a0e0e4, #e9b1c9);
  padding: 10px 20px 10px;
  position: relative;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
  text-transform: capitalize !important;
  margin-top: 2rem;

}

.btn-done{
  background: #fafafa;
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 8rem;
  height: 6rem;
  width: 6rem;
  border: 0;
}

.btn-default{
  background: #fafafa;
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 8rem;
  height: 6rem;
  width: 6rem;
  border: 0;
}

@media only screen and (max-width: 768px) {
  .btn-done {
    font-size: 2em;
    margin: 0.20em;
    padding: 0px;
    width: 1.5em;
    height: 1.5em;
  }
  
  .btn-default {
    font-size: 2em;
    margin: 0.20em;
    padding: 0px;
    width: 1.5em;
    height: 1.5em;
  }
}


@media only screen and (min-width: 768px) {
  .btn-done {
    margin-left: 1.5rem;
    margin-right: 1.5rem;  
  }
  
  .btn-default {
    margin-left: 1.5rem;
    margin-right: 1.5rem;  
  }
}

.btn-get {
  font-family: "Nunito", sans-serif;
  color: #000 !important;
  text-transform: capitalize;
  background: #ffb032;
  padding: 10px 20px 10px;
  position: relative;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
  text-transform: capitalize !important;
  /* margin-left: 4rem; */
  width: 10rem;
}
@media only screen and (max-width: 768px) {
  .btn-get {
    margin-top: 4em;
  }

  .mensagem-humor {
    font-size: 20px;
    margin-bottom: 2em;
  }
}

.fa-frown{
  color: #f10a6d;
}

.fa-smile{
  color: #3aa9af;
  border: 0;
}

.fa-smile:hover{
  color: #3aa9af;
  border: 0;
}

.btn-get::before {
  position: absolute;
  content: '';
  top: 0;
  height: 100%;
  width: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#e9b1c9), to(#e194b5));
  background-image: linear-gradient(to right, #e9b1c9, #a0e0e4);
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

@-webkit-keyframes AnimationGradient {
  0% {
    background-position: 26% 0%;
  }
  50% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 26% 0%;
  }
}

@keyframes AnimationGradient {
  0% {
    background-position: 26% 0%;
  }
  50% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 26% 0%;
  }
}

.modal-body {
  background-color: #fff;
      border-radius: 30px;
}
