<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


<div>
  <nav class="navbar-center text-center">
    <h1>Humor Diário</h1>
  </nav>

  <div class="row-sm-12" style=" margin-top: 5em; text-align: center;">
    <rating class="row-sm-12" [max]="max" [(ngModel)]="rate" [customTemplate]="tt"></rating>
    <br>
    <button class="btn btn-get row-sm-12" (onclick)="save">salvar</button>
  </div>


  <ng-template #tt let-i="index" let-v="value">
    <button class="btn btn-{{i < v ? 'done' : 'default'}} {{i < v ? 'far fa-smile' : 'far fa-frown'}}">
    </button>
  </ng-template>
