* {
  margin: 0px;
}

.cabecalho {
  background: -webkit-gradient(linear, left top, right top, from(#e194b5), to(#e9b1c9));
  background: linear-gradient(to left, #a0e0e4, #e194b5);
  text-align: center;
  height: 6em;
  padding: 1.5em;
  margin-bottom: 4rem;
  color: #000;
}

/* .card-informativo {

} */

fieldset {
  position: center;
  width:90%;
  height: 5em;
  font-size: 22px;
  border: 5px solid;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border-image-source: linear-gradient(to left, #a0e0e4, #e194b5);
  border-image-slice: 1;
  margin-bottom: 2em;
  margin-left: 1em;
  text-align: center;
}
