<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

<div class="cabecalho">
  <h2>Área Informativa</h2>
</div>

<div class="titulo col-md-12">
  <h3 class="text-center">Atendimentos Psicológicos Gratuitos Ou De Baixo Custo em Brasília</h3>
</div>

<div class="row">
  <div class="col-md-4">
    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Centro de Atendimento e Estudos Psicológicos da UnB </h5>
        <h6 class="text-center"> 3107-1680 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Clínica de Psicologia UNICEUB </h5>
        <h6 class="text-center"> 3966-1625 / 3966-1626 / 3966-1627 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Clínica de Psicologia UNIP </h5>
        <h6 class="text-center"> 2192-7092 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Instituto São Paulo de Análise do Comportamento </h5>
        <h6 class="text-center"> 3425-2717 / 3327-7338 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Clínica Social de Taguatinga </h5>
        <h6 class="text-center"> 3967-3060 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Clínica Social de Taguatinga </h5>
        <h6 class="text-center"> 3967-3060 </h6>
      </div>
    </fieldset>
  </div>

  <div class="col-md-4">
    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Clínica de Psicologia IESB </h5>
        <h6 class="text-center"> 3445-4502 / 3445-4503 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Clínica de Psicologia UDF </h5>
        <h6 class="text-center"> 3225-7724 / 9 9983-7555 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Instituto Brasiliense de Análise do Comportamento </h5>
        <h6 class="text-center"> 3242-5250 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Centro de Psicologia Humanista de Brasília </h5>
        <h6 class="text-center"> 3340-9004 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Terapeutas Sem Fronteiras </h5>
        <h6 class="text-center"> 3522-4447 / 9 8260-8003 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Associação Brasileira de Psicodrama </h5>
        <h6 class="text-center"> 3245-6390 / 3346-6832 </h6>
      </div>
    </fieldset>

  </div>

  <div class="col-md-4">
    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Clínica de Psicologia UCB </h5>
        <h6 class="text-center"> 3356-9328 / 3356-9000 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> ITGB </h5>
        <h6 class="text-center"> 3965-5731 / 3274-0061 / 9 9967-7569 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Centro de Orientação Médico Psicopedagógico </h5>
        <h6 class="text-center"> 33255-4995 / 3326-3346 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> IBNeuro </h5>
        <h6 class="text-center"> 3226-3002 / 3225-9185 </h6>
      </div>
    </fieldset>

    <fieldset>
      <div class="card-informativo col-md-12">
        <h5 class="text-center"> Clínica Social INTERPSI </h5>
        <h6 class="text-center"> 9 8118-0548 / 9 9982-3224 </h6>
      </div>
    </fieldset>
  </div>
</div>

<fieldset class="fieldsetcsv">
  <div class="col-md-12">
    <h3 class="text-center">Centro de Valorização da Vida - CVV</h3>
    <h5 class="text-center">
      O CVV realiza apoio emocional e prevenção do suicídio,
      atendendo voluntária e gratuitamente todas as pessoas que querem e precisam
      conversar, sob total sigilo por telefone, email e chat 24 horas todos os dias.
    </h5>
    <br>
    <h4>Ligue 188</h4>
  </div>
</fieldset>
