<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js" data-autoinit="true"></script>

<!-- Teste -->

<div class="tela-cheia">
  <div class="row" id="paginaAgenda">
    <div class="col-md-6 margin-bottom">
      <h2 class="text-center">Histórico de agendas</h2>
      <div class="col-md-12 margin-top" >
        <div class="scrollbar" id="style-3">
          <div class="force-overflow">
            <mat-expansion-panel class="agendas expansion-panel" *ngFor="let agenda of agendas" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{agenda.nome}}
                  </mat-panel-title>
                  <mat-panel-description class="d-flex justify-content-end">
                    <i (click)="criarDialogoEditarAgenda(agenda)" id="iconeEditar" class="fas fa-edit only-mobile"></i>
                    <i (click)="onEdit(agenda.id)" id="iconeEditar" class="fas fa-edit only-desktop"></i>
                    <i (click)="onDelete(agenda)" class="fas fa-trash"  id="iconeExcluir"></i>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-panel-description>
                    {{agenda.descricao}}
                </mat-panel-description>

                <mat-panel-description>
                  <strong>Data de Disponibilização: {{agenda.data_disponibilizacao | date  : 'dd/MM/yyyy' }}</strong>
                </mat-panel-description>

                <mat-panel-description>
                    <strong>Data de Entrega: {{agenda.data_encerramento | date  : 'dd/MM/yyyy' }}</strong>
                  </mat-panel-description>
              </mat-expansion-panel>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <button style="margin-bottom: 5em;" class="only-mobile adicionar-agenda" mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="criarDialogoAdicionarAgenda()">
        <div class="text-center">
            <mat-icon class="add-icon">add</mat-icon>
        </div>
      </button>
      <h2 class="text-center only-desktop">Adicionar nova agenda</h2>
      <form class="agendas_form needs-validation only-desktop" novalidade [formGroup] = "formularioAgenda">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group label-float">
                    <input type="text" class="form-control" id="nomeAgenda" aria-describedby="nomeAgenda" placeholder="Nome da Agenda" formControlName="nome" [ngClass]="{ 'is-invalid': submitted && hasError('nome') }">
                    <label for="nomeAgenda">Nome da Agenda</label>
                    <div class="invalid-feedback" *ngIf="hasError('nome')">
                      Por favor, informe o nome da agenda.
                    </div>
                  </div>
                  <div class="form-group label-float">
                    <input type="text" class="form-control" id="descricaoAgenda" aria-describedby="descricaoAgenda" placeholder="Descrição da Agenda" formControlName="descricao" [ngClass]="{ 'is-invalid': submitted && hasError('descricao') }">
                    <label for="descricaoAgenda">Descrição Agenda</label>
                    <div class="invalid-feedback" *ngIf="hasError('descricao')">
                      Por favor, informe a descrição da agenda.
                    </div>
                  </div>
                  <div class="form-group label-float">
                    <input type="date" class="form-control" id="data_disponibilizacaoAgenda" aria-describedby="data_disponibilizacaoAgenda" name="data_disponibilizacao" placeholder="Descrição da Agenda" formControlName="data_disponibilizacao" [ngClass]="{ 'is-invalid': submitted && hasError('data_disponibilizacao') }" (blur)="validarData()">
                    <label for="data_disponibilizacaoAgenda">Data de disponibilização</label>
                    <div class="invalid-feedback" *ngIf="hasError('data_disponibilizacao')">
                      Por favor, informe uma data de disponibilização válida.
                    </div>
                  </div>
                  <div class="form-group label-float">
                    <input type="date" class="form-control" id="data_encerramentoAgenda" aria-describedby="data_encerramentoAgenda" placeholder="Descrição da Agenda" formControlName="data_encerramento" [ngClass]="{ 'is-invalid': submitted && hasError('data_encerramento') }" (blur)="validarData()">
                    <label for="data_encerramentoAgenda">Data de encerramento</label>
                    <div *ngIf="error.isError">
                      <small class="texto-erro"> {{ error.errorMessage }} </small>
                    </div>
                    <div class="invalid-feedback" *ngIf="hasError('data_encerramento')">
                      Por favor, informe uma data de encerramento válida.
                    </div>
                  </div>
                  <div class="form-group label-float">
                    <select type="text" class="form-control border-none" pattern="" id="tipoAgenda" aria-describedby="tipoAgenda" placeholder="Tipo da Agenda" formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && hasError('tipo') }">
                      <option value="" disabled selected>Selecionar o Tipo</option>
                      <option>Individual</option>
                      <option>Grupo</option>
                    </select>
                    <label for="tipoAgenda">Tipo da Agenda</label>
                    <div class="invalid-feedback" *ngIf="hasError('tipo')">
                      Por favor, informe o tipo da agenda.
                    </div>
                  </div>
            </div>
        </div>
        <div class="text-center">
          <button type="submit" class=" btn btn-get" (click)="onSubmit()"><span> Enviar</span></button>
        </div>
    </form>
    </div>
  </div>

</div>

<ng-template #deleteModal class="modal-body">
  <div class="modal-body text-center">
    <h5>Tem certeza que deseja remover essa agenda?</h5>
    <button type="button" class="btn btn-confirm" (click)="onConfirmDelete()"> Sim</button>
    <button type="button" class="btn btn-decline" (click)="onDeclineDelete()"> Não</button>
  </div>
</ng-template>
