<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js" data-autoinit="true"></script>

<div>
    <nav class="navbar-center text-center">
      <h1>Agendas</h1>
    </nav>

  <div class="row" id="paginaAgenda">
    <div class="col-md-6">
      <h2 class="text-center titulo">Histórico de Agendas</h2>
      <div class="col-md-12 scroll" >
        <table class="tabela-alunos table table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Tipo</th>
              <th>Data disponibilização</th>
              <th>Data encerramento</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let agenda of agendas" >
              <td>{{agenda.nome}}</td>
              <td>{{agenda.descricao}}</td>
              <td>{{agenda.tipo}}</td>
              <td>{{agenda.data_disponibilizacao}}</td>
              <td>{{agenda.data_encerramento}}</td>
              <td><i (click)="onEdit(agenda.id)" id="iconeEditar" class="fas fa-edit"></i> <i (click)="onDelete(agenda)" class="fas fa-trash"  id="iconeExcluir"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="text-center titulo">Adicionar nova Agenda</h2>
      <form class="agendas_form needs-validation" novalidade [formGroup] = "formularioAgenda">
        <div class="row">
            <div class="col-md-12">

              <div class="form-group label-float">
                <input type="text" class="form-control" id="nomeAgenda" aria-describedby="nomeAgenda" placeholder="Nome da Agenda" formControlName="nome" [ngClass]="{ 'is-invalid': submitted && hasError('nome') }">
                <label for="nomeAgenda">Nome da Agenda</label>
                <div class="invalid-feedback" *ngIf="hasError('nome')">
                  Por favor, informe o nome da agenda.
                </div>
              </div>
              <div class="form-group label-float">
                <input type="text" class="form-control" id="descricaoAgenda" aria-describedby="descricaoAgenda" placeholder="Descrição da Agenda" formControlName="descricao" [ngClass]="{ 'is-invalid': submitted && hasError('descricao') }">
                <label for="descricaoAgenda">Descrição Agenda</label>
                <div class="invalid-feedback" *ngIf="hasError('descricao')">
                  Por favor, informe a descrição da agenda.
                </div>
              </div>
              <div class="form-group label-float">
                <input type="date" class="form-control" id="data_disponibilizacaoAgenda" aria-describedby="data_disponibilizacaoAgenda" name="data_disponibilizacao" placeholder="Descrição da Agenda" formControlName="data_disponibilizacao" [ngClass]="{ 'is-invalid': submitted && hasError('data_disponibilizacao') }" (blur)="validarData(data_disponibilizacao.value)">
                <label for="data_disponibilizacaoAgenda">Data de disponibilização</label>
                <div class="invalid-feedback" *ngIf="hasError('data_disponibilizacao')">
                  Por favor, informe uma data de disponibilização válida.
                </div>
              </div>
              <div class="form-group label-float">
                <input type="date" class="form-control" id="data_encerramentoAgenda" aria-describedby="data_encerramentoAgenda" placeholder="Descrição da Agenda" formControlName="data_encerramento" [ngClass]="{ 'is-invalid': submitted && hasError('data_encerramento') }" (blur)="validarData()">
                <label for="data_encerramentoAgenda">Data de encerramento</label>
                <div *ngIf="error.isError">
                  <small>{{ error.errorMessage }}</small>
                </div>
                <div class="invalid-feedback" *ngIf="hasError('data_encerramento')">  
                  Por favor, informe uma data de encerramento válida.
                </div>
              </div>
              <div class="form-group label-float">
                <select type="text" class="form-control border-none" pattern="" id="tipoAgenda" aria-describedby="tipoAgenda" placeholder="Tipo da Agenda" formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && hasError('tipo') }">
                  <option value="" disabled selected>Selecionar o Tipo</option>
                  <option>Individual</option>
                  <option>Grupo</option>
                </select>
                <label for="tipoAgenda">Tipo da Agenda</label>
                <div class="invalid-feedback" *ngIf="hasError('tipo')">
                  Por favor, informe o tipo da agenda.
                </div>
              </div>

            </div>
        </div>
        <div class="text-center">
            <button type="submit" class=" btn btn-get" [disabled]="error.isError" (click)="onSubmit()"><span> Enviar</span></button></div>
    </form>
    </div>
  </div>

</div>

<ng-template #deleteModal class="modal-body">
  <div class="modal-body text-center">
    <h5>Tem certeza que deseja remover essa agenda?</h5>
    <button type="button" class="btn btn-confirm" (click)="onConfirmDelete()"> Sim</button>
    <button type="button" class="btn btn-decline" (click)="onDeclineDelete()"> Não</button>
  </div>
</ng-template>
