<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js" data-autoinit="true"></script>


<div class="tela-cheia">
  <div class="row" id="paginaAgenda">
    <div class="col-md-6 margin-bottom">
      <h2 class="text-center">Histórico de agendas</h2>
      <div class="scrollbar" id="style-scroll">
        <div class="force-overflow">
          <div class="col-md-12 margin-top" >
                <mat-expansion-panel class="agendas expansion-panel agendas-row" *ngFor="let agenda of agendas" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{agenda.nome}}
                      </mat-panel-title>
                      <mat-panel-description class="d-flex justify-content-end painel_acao">
                        <i (click)="criarDialogoEditarAgenda(agenda)" id="iconeEditar" class="fas fa-edit only-mobile"></i>
                        <i (click)="onEdit(agenda.id)" id="iconeEditar" class="fas fa-edit only-desktop"></i>
                        <i (click)="onDelete(agenda)" class="fas fa-trash"  id="iconeExcluir"></i>
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-panel-description class="painel_descricao">
                        {{agenda.descricao}}
                    </mat-panel-description>

                    <div class="row" style="margin-top: 2em;">
                      <mat-panel-description class="painel_geral">
                        <div class="col-md-6 painel_icone text-center d-flex justify-content-start">
                          <i  matTooltip="Atividade Individual" *ngIf="agenda.tipo == 'Individual'"  class="fas fa-user"></i>
                          <i  matTooltip="Atividade em Grupo" *ngIf="agenda.tipo == 'Grupo'"  class="fas fa-users"></i>
                        </div>
                        <div class="col-md-6">
                          <div class="row  d-flex justify-content-end">
                            <div class="col-md-12">
                                  <p class="painel_data_disponibilizacao"><mat-icon matTooltip="Data de Disponibilização" class="painel_data_disponibilizacao">calendar_today</mat-icon> {{agenda.data_disponibilizacao | date  : 'dd/MM/yyyy' }}</p>
                            </div>
                            <div class="col-md-12">
                                  <p class="painel_data_encerramento"><mat-icon matTooltip="Data de Encerramento" class="painel_data_encerramento">calendar_today</mat-icon> {{agenda.data_encerramento | date  : 'dd/MM/yyyy' }}</p>
                          </div>
                          </div>
                        </div>
                      </mat-panel-description>
                    </div>
                  </mat-expansion-panel>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <button class="only-mobile adicionar-agenda" mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="criarDialogoAdicionarAgenda()">
        <div class="text-center">
            <mat-icon class="add-icon">add</mat-icon>
        </div>
      </button>
      <h2 class="text-center only-desktop">Adicionar nova agenda</h2>
      <form class="agendas_form needs-validation only-desktop" novalidade [formGroup]="formularioAgenda">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput
                        placeholder="Nome da Agenda"
                        formControlName="nome" [ngClass]="{ 'is-invalid': submitted && hasError('nome') }">
                        <mat-error *ngIf="submitted && hasError('nome')">
                            Por favor, informe o nome da agenda.
                          </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field>
                <textarea matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        placeholder="Descrição da Agenda"
                        formControlName="descricao" [ngClass]="{ 'is-invalid': submitted && hasError('descricao') }">
                </textarea>
                <mat-error *ngIf="submitted && hasError('descricao')">
                    Por favor, informe a descrição da agenda.
                  </mat-error>
              </mat-form-field>
              </div>

              <div class="col-md-12">
                  <input onfocus="(this.type='date')" class="form-control tipoData" id="data_disponibilizacaoAgenda" aria-describedby="data_disponibilizacaoAgenda" placeholder="Data de disponibilização" formControlName="data_disponibilizacao" [ngClass]="{ 'is-invalid': submitted && hasError('data_disponibilizacao') }" (blur)="this.error = this.agendaService.validarData(this.formularioAgenda.value.data_disponibilizacao, this.formularioAgenda.value.data_encerramento)">
                  <mat-error *ngIf="submitted && hasError('data_disponibilizacao')">
                      Por favor, informe uma data de disponibilização válida.
                    </mat-error>
                </div>

                <div class="col-md-12">
                    <input onfocus="(this.type='date')" class="form-control tipoData" id="data_encerramentoAgenda" aria-describedby="data_encerramentoAgenda" placeholder="Data de encerramento" formControlName="data_encerramento" [ngClass]="{ 'is-invalid': submitted && hasError('data_encerramento') }" (blur)="this.error = this.agendaService.validarData(this.formularioAgenda.value.data_disponibilizacao, this.formularioAgenda.value.data_encerramento)" >
                    <div *ngIf="error.isError">
                        <small class="texto-erro"> {{ error.errorMessage }} </small>
                      </div>
                    <mat-error *ngIf="submitted && hasError('data_encerramento')">
                        Por favor, informe uma data de encerramento válida.
                      </mat-error>
                  </div>

                  <div class="col-md-12">
                    <mat-form-field>
                      <select matNativeControl class="form-control border-none" pattern="" id="tipoAgenda" aria-describedby="tipoAgenda" placeholder="Tipo da Agenda" formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && hasError('tipo') }">
                          <option value="" disabled selected>Selecionar o Tipo</option>
                          <option>Individual</option>
                          <option>Grupo</option>
                        </select>
                        <mat-error *ngIf="submitted && hasError('tipo')">Por favor, informe o tipo da agenda.</mat-error>
                    </mat-form-field>
                    </div>
            <div class="col-md-12 d-flex justify-content-center">
              <mat-dialog-actions>
                <button mat-button class="btn btn-get" type="button" (click)="onSubmit()">Enviar</button>
              </mat-dialog-actions>
            </div>
          </div>
      </form>
    </div>
  </div>

</div>

<ng-template #deleteModal class="modal-body">
  <div class="modal-body text-center">
    <h5>Tem certeza que deseja remover essa agenda?</h5>
    <button type="button" class="btn btn-confirm" (click)="onConfirmDelete()"> Sim</button>
    <button type="button" class="btn btn-decline" (click)="onDeclineDelete()"> Não</button>
  </div>
</ng-template>
