<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- <h1 style="text-align: center">AMIKA</h1> -->
  <div class="body">
    <div class="row" style="text-align: center">
        <p></p>
        <img src="https://fga-eps-mds.github.io/2019.2-Amika-Wiki/assets/img/AmikasSemNome.png" class="center">
        <p></p>
    </div>
    <div class="row" style="text-align: center">
      <div class="col-sm-4">
        <h1>Grupo</h1>
        <div class="row">
          <div class="col-sm-6">
            <button class="amika-button amika-group-button">
              <i class="glyphicon glyphicon-home"></i>
            </button>
            <p>Meu Grupo</p>
          </div>
          <div class="col-sm-6">
            <button class="amika-button amika-group-button">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
            <p>Atividades</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <h1>Disciplina</h1>
          <div class = "row">
            <div class= "col-sm-6">
              <button class="amika-button amika-disciplina-button">
                <i class="glyphicon glyphicon-blackboard
                "></i>
              </button>
              <p>Mural</p>
            </div>
            <div class= "col-sm-6">
              <button class="amika-button amika-disciplina-button">
                <i class="glyphicon glyphicon-book"></i> </button>
              <p>Materiais</p>
            </div>
            <div class = "col-sm-6">
              <button class="amika-button amika-disciplina-button" onclick="window.location.href = 'area-informativa'">
                <i class="glyphicon glyphicon-question-sign"></i>
              </button>
              <p>Informativo</p>
            </div>
            <div class="col-sm-6">
              <button class="amika-button amika-disciplina-button">
                <i class="glyphicon glyphicon-music"></i>
              </button>
              <p>Happy and Roll</p>
            </div>
          </div>
      </div>

      <div class="col-sm-4">
        <h1>Perfil</h1>
          <div class = "row">
            <div class="col-sm-6">
              <button class="amika-button amika-perfil-button">
                <i class="glyphicon glyphicon-list-alt"></i>
              </button>
              <p>Agenda</p>
            </div>
            <div class="col-sm-6">
              <button class="amika-button amika-perfil-button">
                <i class="glyphicon glyphicon-user"></i>
              </button>
              <p>Visualizar</p>
            </div>
            <div class="col-sm-6">
              <button class="amika-button amika-perfil-button">
                <i class="glyphicon glyphicon-star"></i>
              </button>
              <p>Humor do Dia</p>
            </div>
          </div>
      </div>
      <div class="deslogar">
        <button class="button">Deslogar</button>
      </div>
    </div>
  </div>
