<form [formGroup]="formPontuacao">
 
    <div class="form-group">
      <label>Pergunta 1</label>
   
      <div class="form-check">
        <input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta">
        <label class="form-check-label" for="Resposta_A">Resposta A</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta">
        <label class="form-check-label" for="Resposta_B">Resposta B</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta">
        <label class="form-check-label" for="Resposta_C">Resposta C</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta">
        <label class="form-check-label" for="Resposta_D">Resposta D</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta">
        <label class="form-check-label" for="Resposta_E">Resposta E</label>
      </div>
    </div>
    <br>

     
    <div class="form-group">
        <label>Pergunta 2</label>
     
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta">
          <label class="form-check-label" for="Resposta_A">Resposta A</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta">
          <label class="form-check-label" for="Resposta_B">Resposta B</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta">
          <label class="form-check-label" for="Resposta_C">Resposta C</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta">
          <label class="form-check-label" for="Resposta_D">Resposta D</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta">
          <label class="form-check-label" for="Resposta_E">Resposta E</label>
        </div>
      </div>
      <br>

     
      <div class="form-group">
        <label>Pergunta 3</label>
     
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta">
          <label class="form-check-label" for="Resposta_A">Resposta A</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta">
          <label class="form-check-label" for="Resposta_B">Resposta B</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta">
          <label class="form-check-label" for="Resposta_C">Resposta C</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta">
          <label class="form-check-label" for="Resposta_D">Resposta D</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta">
          <label class="form-check-label" for="Resposta_E">Resposta E</label>
        </div>
      </div>
      <br>
  
  

    <input type="submit" class="btn btn-primary mt-4" value="Salvar">
    <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
   
  </form>