<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

<div class="cabecalho">
  <h2>Formulário de felicidade autêntica</h2>
</div>

<fieldset>
<p>Por favor, leia cuidadosamente cada grupo de declarações.
  Depois, selecione a declaração de cada grupo que descreva
  melhor como você está se sentindo na última semana, incluindo o dia de hoje.
  Tenha certeza de ler todas as declarações de cada grupo antes de fazer sua escolha.
</p>
<br>

<form [formGroup]="formPontuacao">
    <div id="area" class="form-group">

      <label>Grupo 1</label>

      <div class="form-check">
        <label class="form-check-label" for="Resposta_A"><input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta"> Eu me sinto uma falha.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_B"><input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta"> Eu não me sinto como um vencedor.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_C"><input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta"> Eu sinto como se tivesse obtido um sucesso maior que a maioria das pessoas.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_D"><input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta"> Se eu olhar para trás na minha vida, tudo que eu vejo são vitórias.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_E"><input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta"> Eu sinto que sou um sucesso extraordinário.</label>
    </div>
    <!-- </fieldset> -->
  </div>
</form>
<br>

<form [formGroup]="formPontuacao">
    <div id="area" class="form-group">
      <!-- <fieldset> -->
      <label>Grupo 2</label>

      <div class="form-check">
        <label class="form-check-label" for="Resposta_A"><input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta"> Eu estou normalmente de mau humor.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_B"><input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta"> Eu estou normalmente com um humor neutro.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_C"><input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta"> Eu estou normalmente de bom humor.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_D"><input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta"> Eu estou normalmente com um humor ótimo.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_E"><input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta"> Eu estou normalmente com um humor inacreditavelmente bom.</label>
    </div>
    <!-- </fieldset> -->
  </div>
</form>
<br>

<form [formGroup]="formPontuacao">
    <div id="area" class="form-group">
      <!-- <fieldset> -->
      <label>Grupo 3</label>

      <div class="form-check">
        <label class="form-check-label" for="Resposta_A"><input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta"> Quando eu estou trabalhando, eu presto mais atenção no que acontece a minha volta do que no que eu estou fazendo.</label>
      </div>
      <div class="form-check">

        <label class="form-check-label" for="Resposta_B"><input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta"> Quando eu estou trabalhando, eu presto tanta atenção no que acontece a minha volta, quanto no que eu estou fazendo.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_C"><input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta"> Quando eu estou trabalhando, eu presto mais atenção no que eu estou fazendo do que no que acontece a minha volta.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_D"><input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta"> Quando eu estou trabalhando, eu raramente reparo em algo que esteja acontecendo em minha volta.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_E"><input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta"> Quando eu estou trabalhando, eu presto tanta atenção no que eu estou fazendo que o mundo exterior praticamente não existe.</label>
    </div>
    <!-- </fieldset> -->
  </div>
</form>
<br>

<form [formGroup]="formPontuacao">
    <div id="area" class="form-group">
      <!-- <fieldset> -->
      <label>Grupo 4</label>

      <div class="form-check">
        <label class="form-check-label" for="Resposta_A"><input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta"> Minha vida não tem nenhum propósito ou significado.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_B"><input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta"> Eu não sei o propósito ou significado da minha vida.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_C"><input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta"> Eu tenho um palpite sobre meu propósito de vida.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_D"><input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta"> Eu tenho uma ideia muito boa a respeito do propósito ou significado da minha vida.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_E"><input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta"> Eu tenho uma ideia muito clara a respeito do propósito ou significado da minha vida.</label>
    </div>
    <!-- </fieldset> -->
  </div>
</form>
<br>

<form [formGroup]="formPontuacao">
    <div id="area" class="form-group">
      <!-- <fieldset> -->
      <label>Grupo 5</label>

      <div class="form-check">
        <label class="form-check-label" for="Resposta_A"><input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta"> Eu raramente consigo o que quero.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_B"><input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta"> Às vezes eu consigo o que quero, às vezes não.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_C"><input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta"> Às vezes, mais do que não, eu consigo o que quero.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_D"><input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta"> Eu normalmente consigo o que quero.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_E"><input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta"> Eu sempre consigo o que quero.</label>
    </div>
    <!-- </fieldset> -->
  </div>
</form>
<br>


<form [formGroup]="formPontuacao">
    <div id="area" class="form-group">
      <!-- <fieldset> -->
      <label>Grupo 6</label>

      <div class="form-check">
        <label class="form-check-label" for="Resposta_A"><input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta"> Eu tenho tristeza na minha vida.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_B"><input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta"> Eu não tenho nem tristeza nem alegria na minha vida.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_C"><input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta"> Eu tenho mais alegrias do que tristeza em minha vida.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_D"><input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta"> Eu tenho muito mais alegrias do que tristezas em minha vida.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_E"><input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta"> Minha vida é repleta de alegria.</label>
    </div>
    <!-- </fieldset> -->
  </div>
</form>
<br>

<form [formGroup]="formPontuacao">
    <div id="area" class="form-group">
      <!-- <fieldset> -->
      <label>Grupo 7</label>

      <div class="form-check">
        <label class="form-check-label" for="Resposta_A"><input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta"> Na maior parte do tempo, eu me sinto entediado.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_B"><input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta"> Na maior parte do tempo, eu não me sinto entediado nem interessado no que estou fazendo.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_C"><input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta"> Na maior parte do tempo, eu me sinto interessado no que estou fazendo.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_D"><input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta"> Na maior parte do tempo, eu me sinto muito interessado no que estou fazendo.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_E"><input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta"> Na maior parte do tempo, eu me sinto fascinado no que estou fazendo.</label>
    </div>
    <!-- </fieldset> -->
  </div>
</form>
<br>


<form [formGroup]="formPontuacao">
    <div id="area" class="form-group">
      <!-- <fieldset> -->
      <label>Grupo 8</label>

      <div class="form-check">
        <label class="form-check-label" for="Resposta_A"><input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta"> Eu me sinto isolado de outras pessoas.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_B"><input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta"> Eu não me sinto próximo nem isolado de outras pessoas.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_C"><input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta"> Eu me sinto próximo de amigos e membros da minha família.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_D"><input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta"> Eu me sinto próximo da maioria das pessoas, mesmo que eu não as conheça bem.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_E"><input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta"> Eu me sinto próximo de todas as pessoas do mundo.</label>
    </div>
    <!-- </fieldset> -->
  </div>
</form>
<br>

<form [formGroup]="formPontuacao">
    <div id="area" class="form-group">
      <!-- <fieldset> -->
      <label>Grupo 9</label>

      <div class="form-check">
        <label class="form-check-label" for="Resposta_A"><input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta"> Pelos padrões objetivos, eu me saio mal.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_B"><input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta"> Pelos padrões objetivos, eu não me saio bem nem mal.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_C"><input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta"> Pelos padrões objetivos, eu me saio bem.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_D"><input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta"> Pelos padrões objetivos, eu me saio muito bem.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_E"><input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta"> Pelos padrões objetivos, eu me saio incrivelmente bem.</label>
    </div>
    <!-- </fieldset> -->
  </div>
</form>
<br>


<form [formGroup]="formPontuacao">
    <div id="area" class="form-group">
      <!-- <fieldset> -->
      <label>Grupo 10</label>

      <div class="form-check">
        <label class="form-check-label" for="Resposta_A"><input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta"> Eu sinto vergonha de mim mesmo.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_B"><input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta"> Eu não sinto vergonha de mim mesmo.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_C"><input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta"> Eu me sinto orgulhoso de mim mesmo.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_D"><input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta"> Eu me sinto muito orgulhoso de mim mesmo.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_E"><input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta"> Eu me sinto extraordinariamente orgulhoso de mim mesmo.</label>
    </div>
    <!-- </fieldset> -->
  </div>
</form>
<br>

<form [formGroup]="formPontuacao">
    <div id="area" class="form-group">
      <!-- <fieldset> -->
      <label>Grupo 11</label>

      <div class="form-check">
        <label class="form-check-label" for="Resposta_A"><input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta"> O tempo passa devagar durante a maioria das coisas que eu faço.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_B"><input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta"> O tempo passa rápido durante algumas coisas que eu faço, e devagar para outras coisas.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_C"><input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta"> O tempo passa rápido durante a maioria das coisas que eu faço.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_D"><input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta"> O tempo passa rápido durante todas as coisas que eu faço.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_E"><input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta"> O tempo passa tão rápido durante todas as coisas que eu faço, que normalmente eu nem percebo.</label>
    </div>
    <!-- </fieldset> -->
  </div>
</form>
<br>


<form [formGroup]="formPontuacao">
    <div id="area" class="form-group">
      <!-- <fieldset> -->
      <label>Grupo 12</label>

      <div class="form-check">
        <label class="form-check-label" for="Resposta_A"><input class="form-check-input" type="radio" name="opcao" id="opcao_1" [value]="1" formControlName="resposta"> No grande esquema das coisas, minha existência pode machucar o mundo.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_B"><input class="form-check-input" type="radio" name="opcao" id="opcao_2" [value]="2" formControlName="resposta"> Minha existência nem ajuda nem machuca o mundo.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_C"><input class="form-check-input" type="radio" name="opcao" id="opcao_3" [value]="3" formControlName="resposta"> Minha existência tem um pequeno, porem positivo efeito no mundo.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_D"><input class="form-check-input" type="radio" name="opcao" id="opcao_4" [value]="4" formControlName="resposta"> Minha existência faz do mundo um lugar melhor.</label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="Resposta_E"><input class="form-check-input" type="radio" name="opcao" id="opcao_5" [value]="5" formControlName="resposta"> Minha existência tem um impacto duradouro, grande e positivo no mundo.</label>
    </div>

  </div>
</form>
</fieldset>
<br>


<input type="submit" class="btn btn-primary mt-4" value="Salvar">
<input type='button' class="btn btn-primary mt-4" value='Voltar' onclick='history.go(-1)' />
