<ng-container *ngIf="data.tipo === 'criacao'">
  <h2 mat-dialog-title>Realizar Agenda {{data.agenda.nome}}</h2>
  <div mat-dialog-content>
    <p>Texto</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.realizacao.texto" placeholder="Escreva um texto sobre a realização desta agenda.">
    </mat-form-field>
    <p>Anexo</p>
    <input type="file" (change)="data.anexo = $event.target.files[0]">
  </div>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close type="button" class="botao"
            (click)="criaAgendaRealizada(data.tipo, data.agenda.id, data.realizacao.texto, data.anexo)">
      Criar
    </button>
    <ng-container *ngTemplateOutlet="botaoCancelar"></ng-container>
  </mat-dialog-actions>
</ng-container>


<ng-container *ngIf="data.tipo === 'alteracao'">
  <h2 mat-dialog-title>Atualizar Agenda {{data.agenda.nome}}</h2>
  <div mat-dialog-content>
    <p>Texto</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.realizacao.texto">
    </mat-form-field>
    <p>Anexo</p>
    <input type="file" (change)="data.anexo = $event.target.files[0]">
  </div>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close type="button" class="btn botao"
            (click)="editaAgendaRealizada(data.tipo, data.realizacao.id, data.realizacao.texto, data.anexo)">
      Atualizar
    </button>
    <ng-container *ngTemplateOutlet="botaoCancelar"></ng-container>
  </mat-dialog-actions>
</ng-container>


<ng-container *ngIf="data.tipo === 'delecao'">
  <h2 mat-dialog-title>Deletar agenda {{data.agenda.nome}}?</h2>
  <div mat-dialog-content>
    <p>Esta ação não poderá ser revertida.</p>
  </div>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close type="button" class="botao"
            (click)="deletaAgendaRealizada(data.tipo, data.realizacao.id)">
      Sim
    </button>
    <ng-container *ngTemplateOutlet="botaoCancelar"></ng-container>
  </mat-dialog-actions>
</ng-container>


<ng-template #botaoCancelar>
  <button mat-button mat-dialog-close type="button" class="btn botao">Cancelar</button>
</ng-template>
