<ng-container *ngIf="data.tipo === 'criacao'">
  <div mat-dialog-content class="content-adicionar-turmas">
    <div style="display:flex; justify-content:left;">
      <p>Texto</p>
    </div>
    <div style="display:flex; justify-content:center;">
        <mat-form-field>
        <input matInput [(ngModel)]="data.realizacao.texto" placeholder="Texto para a agenda">
      </mat-form-field>
    </div>
    <div style="display:flex; justify-content:left;">
      <p>Anexo</p>
    </div>
    <label for="realizaragenda" class="custom-file-upload">
      <i class="fa fa-cloud-upload"></i> Anexar
    </label>
    <div style="display:flex; justify-content:center;">
          <input type="file" class="form-control form-file" id="realizaragenda" (change)="data.anexo = $event.target.files[0]">
          <div>{{data.anexo? data.anexo.name : ""}}</div>
    </div>
  </div>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close type="button" class="botao" 
            (click)="criaAgendaRealizada(data.tipo, data.agenda.id, data.realizacao.texto, data.anexo)">
      Criar
    </button>
    <ng-container *ngTemplateOutlet="botaoCancelar"></ng-container>
  </mat-dialog-actions>
</ng-container>


<ng-container *ngIf="data.tipo === 'alteracao'">
  <h2 mat-dialog-title>Atualizar Agenda {{data.agenda.nome}}</h2>
  <div mat-dialog-content class="content-adicionar-turmas">
    <p>Texto</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.realizacao.texto">
    </mat-form-field>
    <p>Anexo</p>
    <label for="atualizaragenda" class="custom-file-upload">
      <i class="fa fa-cloud-upload"></i> Anexar
    </label>
    <input type="file" id="atualizaragenda" class="form-control form-file" (change)="data.anexo = $event.target.files[0]">
  </div>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close type="button" class="btn botao"
            (click)="editaAgendaRealizada(data.tipo, data.realizacao.id, data.realizacao.texto, data.anexo)">
      Atualizar
    </button>
    <ng-container *ngTemplateOutlet="botaoCancelar"></ng-container>
  </mat-dialog-actions>
</ng-container>


<ng-container *ngIf="data.tipo === 'delecao'">
  <h2 mat-dialog-title>Deletar agenda {{data.agenda.nome}}?</h2>
  <div mat-dialog-content class="content-adicionar-turmas">
    <p>Esta ação não poderá ser revertida.</p>
  </div>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close type="button" class="botao"
            (click)="deletaAgendaRealizada(data.tipo, data.realizacao.id)">
      Sim
    </button>
    <ng-container *ngTemplateOutlet="botaoCancelar"></ng-container>
  </mat-dialog-actions>
</ng-container>


<ng-template #botaoCancelar>
  <button mat-button mat-dialog-close type="button" class="btn botao-cancelar">Cancelar</button>
</ng-template>
