<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

<div class="cabecalho">
  <h2>FORMULÁRIO DE ESCALA DE SATISFAÇÃO COM A VIDA</h2>
</div>

<form [formGroup]="formPontuacao">
<fieldset>
  <p> Abaixo estão 5 declarações que você pode concordar os discordar delas.
      Leia cada um e depois clique na lista suspensa próxima a declaração e selecione
      a resposta que melhor descreve quão forte você concorda ou discorda.
  </p>
  <br>


    <div id="area" class="form-group">
      <div class="">
        <label>1. Em muitos aspectos, minha vida está próxima do meu ideal.</label>
        <select class="browser-default custom-select" formControlName="ponto1">
          <option selected [value]=0>Selecione uma opção</option>
          <option id="opcao_1" [value]=1>Concordo fortemente</option>
          <option id="opcao_2" [value]=2>Concordo</option>
          <option id="opcao_3" [value]=3>Concordo parcialmente</option>
          <option id="opcao_4" [value]=4>Nem concordo nem discordo</option>
          <option id="opcao_5" [value]=5>Discordo parcialmente</option>
          <option id="opcao_6" [value]=6>Discordo</option>
          <option id="opcao_7" [value]=7>Discordo fortemente</option>
        </select>
      </div>
      <br>
    </div>

    <div id="area" class="form-group">
      <div class="">
        <label>2. As condições da minha vida são excelentes.</label>
        <select class="browser-default custom-select" formControlName="ponto2">
          <option selected [value]=0>Selecione uma opção</option>
          <option id="opcao_1" [value]=1>Concordo fortemente</option>
          <option id="opcao_2" [value]=2>Concordo</option>
          <option id="opcao_3" [value]=3>Concordo parcialmente</option>
          <option id="opcao_4" [value]=4>Nem concordo nem discordo</option>
          <option id="opcao_5" [value]=5>Discordo parcialmente</option>
          <option id="opcao_6" [value]=6>Discordo</option>
          <option id="opcao_7" [value]=7>Discordo fortemente</option>
        </select>
      </div>
      <br>
    </div>

    <div id="area" class="form-group">
      <div class="">
        <label>3. Estou completamente satisfeito com minha vida.</label>
        <select class="browser-default custom-select" formControlName="ponto3">
          <option selected [value]=0>Selecione uma opção</option>
          <option id="opcao_1" [value]=1>Concordo fortemente</option>
          <option id="opcao_2" [value]=2>Concordo</option>
          <option id="opcao_3" [value]=3>Concordo parcialmente</option>
          <option id="opcao_4" [value]=4>Nem concordo nem discordo</option>
          <option id="opcao_5" [value]=5>Discordo parcialmente</option>
          <option id="opcao_6" [value]=6>Discordo</option>
          <option id="opcao_7" [value]=7>Discordo fortemente</option>
        </select>
      </div>
      <br>
    </div>

    <div id="area" class="form-group">
      <div class="">
        <label>4. Até agora, eu obtive as coisas que considero mais importantes que quero em minha vida.</label>
        <select class="browser-default custom-select" formControlName="ponto4">
          <option selected [value]=0>Selecione uma opção</option>
          <option id="opcao_1" [value]=1>Concordo fortemente</option>
          <option id="opcao_2" [value]=2>Concordo</option>
          <option id="opcao_3" [value]=3>Concordo parcialmente</option>
          <option id="opcao_4" [value]=4>Nem concordo nem discordo</option>
          <option id="opcao_5" [value]=5>Discordo parcialmente</option>
          <option id="opcao_6" [value]=6>Discordo</option>
          <option id="opcao_7" [value]=7>Discordo fortemente</option>
        </select>
      </div>
      <br>
    </div>

    <div id="area" class="form-group">
      <div class="">
        <label>5. Se eu pudesse viver minha vida novamente, eu não mudaria nada.</label>
        <select class="browser-default custom-select" formControlName="ponto5">
          <option selected [value]=0>Selecione uma opção</option>
          <option id="opcao_1" [value]=1>Concordo fortemente</option>
          <option id="opcao_2" [value]=2>Concordo</option>
          <option id="opcao_3" [value]=3>Concordo parcialmente</option>
          <option id="opcao_4" [value]=4>Nem concordo nem discordo</option>
          <option id="opcao_5" [value]=5>Discordo parcialmente</option>
          <option id="opcao_6" [value]=6>Discordo</option>
          <option id="opcao_7" [value]=7>Discordo fortemente</option>
        </select>
      </div>
      <br>
    </div>
  
</fieldset>


<input type="submit" class="btn btn-primary mt-4" [disabled]="formPontuacao.invalid" value="Salvar" (click)="onSubmit(formPontuacao.value)">
<input type='button' class="btn btn-primary mt-4" value='Voltar' onclick='history.go(-1)' />
</form>
