
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

<div id="wrapper">
  <div class="main-content">
    <mat-tab-group mat-stretch-tabs mat-align-tabs="center">
      <mat-tab label="Login" style="width: 100%">
        <form [formGroup]="formularioLogin" (ngSubmit)="logar(formularioLogin.value)" class="text-center">
                <div class="header">
                  <img class="logo-login" src="https://fga-eps-mds.github.io/2019.2-Amika-Wiki/assets/img/AmikaComNome.png" />
                </div>
                <div class="div-button">
                    <small *ngIf='this.autenticacaoService.errors'>Os dados estão incorretos.</small>
                </div>
                <div class="l-part">
                  <input type="text" placeholder="Matricula" class="campo-formulario campo-formulario-rosa" [formGroup]="formularioLogin" formControlName="matricula" />
                  <div class="overlap-text">
                    <input type="password" placeholder="Senha" class="campo-formulario campo-formulario-rosa" [formGroup]="formularioLogin" formControlName="senha" />
                  </div>
                  <div class="div-button">
                      <button class="botao botao-verde" [disabled]="formularioLogin.get('matricula').hasError('required') || formularioLogin.get('senha').hasError('required')" type="submit"> Login </button>
                  </div>
                </div>
          </form>
          </mat-tab>

          <mat-tab label="Registro">
              <form [formGroup]="formularioRegistro" (ngSubmit)="cadastrarAluno(formularioRegistro.value)" class="text-center">
                  <div class="header">
                    <img class="logo-login" src="https://fga-eps-mds.github.io/2019.2-Amika-Wiki/assets/img/AmikaComNome.png" />
                  </div>
                  <div class="div-button">
                      <small *ngIf='this.autenticacaoService.errors'>Os dados estão incorretos.</small>
                  </div>
                  <div class="l-part">
                    <div class="overlap-text">
                      <input type="text" placeholder="Matricula" class="campo-formulario campo-formulario-rosa" [formGroup]="formularioRegistro" formControlName="username" />
                    </div>
                    <div class="overlap-text">
                      <input type="text" placeholder="Nome" class="campo-formulario campo-formulario-rosa" [formGroup]="formularioRegistro" formControlName="first_name" />
                      </div>
                      <div class="overlap-text">
                        <input type="text" placeholder="Sobrenome" class="campo-formulario campo-formulario-rosa" [formGroup]="formularioRegistro" formControlName="last_name" />
                        </div>
                    <div class="overlap-text">
                      <input type="password" placeholder="Senha" class="campo-formulario campo-formulario-rosa" [formGroup]="formularioRegistro" formControlName="password" />
                    </div>
                    <div class="div-button">
                        <button class="botao botao-verde" type="submit"> Cadastrar </button>
                    </div>
                  </div>
            </form>
          </mat-tab>
      </mat-tab-group>
  </div>
</div>
