<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">

<div class="col-sm-6 tela-cheia" id="telaEditar">
  <form class="agendas_form needs-validation only-desktop formularioEditar" novalidade [formGroup] = "formularioAgenda">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group label-float">
                <input type="text" class="form-control" id="nomeAgenda" aria-describedby="nomeAgenda" placeholder="Nome da Agenda" formControlName="nome" [ngClass]="{ 'is-invalid': submitted && hasError('nome') }">
                <label for="nomeAgenda">Nome da Agenda</label>
                <div class="invalid-feedback" *ngIf="hasError('nome')">
                  Por favor, informe o nome da agenda.
                </div>
              </div>
              <div class="form-group label-float">
                <input type="text" class="form-control" id="descricaoAgenda" aria-describedby="descricaoAgenda" placeholder="Descrição da Agenda" formControlName="descricao" [ngClass]="{ 'is-invalid': submitted && hasError('descricao') }">
                <label for="descricaoAgenda">Descrição Agenda</label>
                <div class="invalid-feedback" *ngIf="hasError('descricao')">
                  Por favor, informe a descrição da agenda.
                </div>
              </div>
              <div class="form-group label-float">
                <input type="date" class="form-control" id="data_disponibilizacaoAgenda" aria-describedby="data_disponibilizacaoAgenda" name="data_disponibilizacao" placeholder="Descrição da Agenda" formControlName="data_disponibilizacao" [ngClass]="{ 'is-invalid': submitted && hasError('data_disponibilizacao') }" (blur)="validarData()">
                <label for="data_disponibilizacaoAgenda">Data de disponibilização</label>
                <div class="invalid-feedback" *ngIf="hasError('data_disponibilizacao')">
                  Por favor, informe uma data de disponibilização válida.
                </div>
              </div>
              <div class="form-group label-float">
                <input type="date" class="form-control" id="data_encerramentoAgenda" aria-describedby="data_encerramentoAgenda" placeholder="Descrição da Agenda" formControlName="data_encerramento" [ngClass]="{ 'is-invalid': submitted && hasError('data_encerramento') }" (blur)="validarData()">
                <label for="data_encerramentoAgenda">Data de encerramento</label>
                <div *ngIf="error.isError">
                  <small class="texto-erro"> {{ error.errorMessage }} </small>
                </div>
                <div class="invalid-feedback" *ngIf="hasError('data_encerramento')">
                  Por favor, informe uma data de encerramento válida.
                </div>
              </div>
              <div class="form-group label-float">
                <select type="text" class="form-control border-none" pattern="" id="tipoAgenda" aria-describedby="tipoAgenda" placeholder="Tipo da Agenda" formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && hasError('tipo') }">
                  <option value="" disabled selected>Selecionar o Tipo</option>
                  <option>Individual</option>
                  <option>Grupo</option>
                </select>
                <label for="tipoAgenda">Tipo da Agenda</label>
                <div class="invalid-feedback" *ngIf="hasError('tipo')">
                  Por favor, informe o tipo da agenda.
                </div>
              </div>
        </div>
    </div>
    <div class="text-left col-md-12">
      <button type="submit" class=" btn btn-get" [disabled]="error.isError" (click)="onSave()"><span> Salvar</span></button>
    </div>
    <div class="text-right col-md-12">
        <button type="submit" class=" btn btn-get" (click)="return()"><span> Cancelar</span></button>
    </div>
</form>
</div>
