<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">

<div class="col-sm-6 tela-cheia" id="telaEditar">
    <form class="main__form needs-validation formularioEditar" novalidade [formGroup] = "formularioGrupo">
      <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input matInput
                      placeholder="Nome do Grupo"
                      formControlName="nome" [ngClass]="{ 'is-invalid': submitted && hasError('nome') }">
                      <mat-error *ngIf="submitted && hasError('nome')">
                          Por favor, informe o nome do grupo.
                        </mat-error>
            </mat-form-field>
                <div class="invalid-feedback" *ngIf="hasError('nome')">
                  Por favor, informe o nome do grupo.
                </div>
          </div>
          <div class="text-left col-md-6">
            <button type="submit" class=" btn btn-get btn-save" (click)="onSave()"><span> Salvar</span></button>
          </div>
          <div class="text-right col-md-6">
              <button type="submit" class=" btn btn-get" (click)="return()"><span> Cancelar</span></button>
            </div>
          </div>
  </form>
</div>
