<router-outlet></router-outlet>
<input type="text" placeholder="Matricula" class="campo-formulario" formControlName="matricula" />
<button type="button" class="botao-icone botao-rosa botao-icone-rosa"></button>
<button type="button" class="botao-icone botao-amarelo botao-icone-amarelo"></button>
<button type="button" class="botao-icone botao-azul botao-icone-azul"></button>
<button type="button" class="botao-icone botao-verde botao-icone-verde"><i class="fa fa-css3" aria-hidden="true"></i></button>
