* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #eee;
  }
  
  #wrapper {
    width: 500px;
    height: 50%;
    overflow: hidden;
    border: 0px solid #000;
    margin: 50px auto;
    padding: 10px;
  }
  
  .main-content {
    width: 250px;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
  }
  
  .header {
    border: 0px solid #000;
  }

  .header img {
    display: flex;
    margin: 0px auto;
  }
  .overlap-text {
    position: relative;
  }
  
  .overlap-text a {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #003569;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Overpass Mono', monospace;
    letter-spacing: -1px;
  }
  
  .btn {
    width: 100%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 5px 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .sub-content {
    width: 250px;
    height: 40%;
    margin: 10px auto;
    border: 1px solid #e6e6e6;
    padding: 20px 50px;
    background-color: #fff;
  }
  
  .s-part {
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    word-spacing: -3px;
    letter-spacing: -2px;
    font-weight: normal;
  }
  
  .s-part a {
    text-decoration: none;
    cursor: pointer;
    color: #bb7f97;
    font-family: 'Overpass Mono', monospace;
    word-spacing: -3px;
    letter-spacing: -2px;
    font-weight: normal;
  }
  

  button {
    background-color: #70aba0;
    border: none;
    color: white;
    padding: 15px 0px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    width: 200px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
  }

  button:disabled {
    background: #70aba08f;
    cursor: default;
  }

  small {
    color : red;
    font-family: 'Ubuntu', sans-serif;
  }
  
  input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none; 
    border-bottom: 2px solid #d68fae;
    outline: none;
    outline-color: #dd709f;
    outline-width: thick;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
  }

  .div-button {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
  }

  #area {
  position:left;
  left:37%;
  top:29%;
  width:100%;
  height:100%;
  }
 
  fieldset {
  background-color: #eee;
  width:100%;
  height:100%;
  }
.toolbar-top {
    background: #6fafa0 !important;
    height: 6vh;
}

mat-drawer{
    background: #6fafa01f !important;
    width: 200px;
}

mat-sidenav{
    background: #f6fffb !important;
    width: 200px;
}

.icone-adicionar {
    font-size: 25px;
    margin-right: 5px;
}

.example-icon {
    padding: 0 14px;
}

.title-center {
    flex: 1 1 auto;
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}

.perfil, .perfil-celular {
    padding: 8px;
}

.perfil-celular {
    width: 200px;
}

.perfil {
    border-bottom: 1px solid #ced5d4;
    max-width: 200px;
}

.foto-perfil {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    display: flex;
    margin: 0px auto;
    border-radius: 50%;
}

.foto-perfil:hover {
  cursor: pointer;
  opacity: 0.5;
}

.content {
    position: fixed;
}

.informacao-perfil{
    text-align: center;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'Satisfy', cursive; */
    /* font-family: 'Neucha', cursive; */
    /* font-family: 'Varela Round', sans-serif; */
}

.deslogar, .deslogar-celular{
    background-color: #dc2e26bd;
    border: none;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

.deslogar{
    position: fixed;
    bottom: 2%;
}

.centralizar{
    justify-content: center;
    display: flex;
    margin: 0px auto;
}


/* Place the navbar at the bottom of the page, and make it stick */
.bottom-nav {
  background-color: white;
  overflow: hidden;
  position: absolute;
  bottom: 0%;
  width: 100%;
  box-shadow: 0 -0.3px 0.3px -1px black;
  z-index: 100;
}

/* Style the links inside the navigation bar */
.bottom-nav a {
  display: block;
  color: #6fafa0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
}

/* Change the color of links on hover */
.bottom-nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.bottom-nav a.active {
  background-color: #6fafa0;
  color: white;
}
