@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:500&display=swap');

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 5px;
  font-family: "Noto Sans TC";
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.texto-normal {
  font-family: "Noto Sans TC";
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

p {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.cor-de-background {
  background-color: #efefef;
}
