<div >

  <h1 class="text-center" style="margin: 1em">Lista de Turmas</h1>
  <div class="row">

    <div class="col-md-6" style="border-right: 0.1em solid black">
      <h2 class="text-center">Histórico de Turmas</h2>
      <div class="col-md-12 " >
        <table class="tabela-alunos table table-striped">
          <tr class="">
            <th>ID</th>
            <th>Nome</th>
            <th>Período</th>
            <th>Ação</th>
          </tr>
          <tr *ngFor="let turma of turmas" >
            <td>{{turma.id}}</td>
            <td>{{turma.nome_turma}}</td>
            <td>{{turma.periodo_turma}}º Semestre/{{turma.ano_turma}}</td>
            <td><i style="margin-right: 0.75em" class="fas fa-edit"></i> <i (click)="delete(turma)" class="fas fa-trash"></i></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="text-center">Adicionar nova Turma</h2>
    </div>

  </div>

</div>
