<div class="content">

  <h1 class="text-center" style="margin: 1em; margin-bottom: 2em">Lista de Turmas</h1>
  <div class="row">

    <div class="col-md-6" style="border-right: 0.1em solid black">
      <h2 class="text-center">Histórico de Turmas</h2>
      <div class="col-md-12 " >
        <table class="tabela-alunos table table-striped">
          <tr class="">
            <th>ID</th>
            <th>Nome</th>
            <th>Período</th>
            <th>Ação</th>
          </tr>
          <tr *ngFor="let turma of turmas" >
            <td>{{turma.id}}</td>
            <td>{{turma.nome_turma}}</td>
            <td>{{turma.periodo_turma}}º Semestre/{{turma.ano_turma}}</td>
            <td><i style="margin-right: 0.75em" class="fas fa-edit"></i> <i (click)="delete(turma)" class="fas fa-trash"></i></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="text-center">Adicionar nova Turma</h2>
      <form class="main__form needs-validation" novalidade [formGroup] = "formularioTurma">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" class="form-control" id="nomeTurma" aria-describedby="nomeTurma" placeholder="Nome da Turma" formControlName="nome_turma" [ngClass]="{ 'is-invalid': submitted && formularioTurma.get('nome_turma').errors }">
                    <label for="nomeTurma" formControlName="">Nome da Turma</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select name="periodoTurma" id="periodoTurma" class="form-control" aria-describedby="periodoTurma" placeholder="Periodo da Turma" formControlName="periodo_turma" [ngClass]="{ 'is-invalid': submitted && formularioTurma.get('periodo_turma').errors }">
                      <option value="" disabled selected>Selecione o Periodo</option>
                      <option value="1">1º Semestre</option>
                      <option value="2">2º Semestre</option>
                    </select>
                    <!-- <label for="periodoTurma" formControlName="">Período da Turma</label> -->
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <input type="number" class="form-control" id="anoTurma" aria-describedby="anoTurma" placeholder="Ano da Turma" formControlName="ano_turma" [ngClass]="{ 'is-invalid': submitted && formularioTurma.get('ano_turma').errors }">
                  <label for="anoTurma">Ano da Turma</label>
              </div>
          </div>
        </div>
        <div class="text-center">
            <button type="submit" class=" btn btn-get" (click)="onSubmit()"><span> Enviar</span></button></div>
    </form>
    </div>

  </div>

</div>
