<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">

<div>
    <nav class="navbar-center text-center">
      <br>
      <h1 style=" color:#ffffff">Turmas</h1>
    </nav>
  <div class="row" style="max-width: 90%">

    <div class="col-md-6">
      <h2 class="text-center">Histórico de Turmas</h2>
      <div class="col-md-12 " >
        <table class="tabela-alunos table table-striped">
          <thead>
            <tr style="background-color: #b97a95; color: white">
              <th>ID</th>
              <th>Nome</th>
              <th>Período</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let turma of turmas" >
              <td>{{turma.id}}</td>
              <td>{{turma.nome_turma}}</td>
              <td>{{turma.periodo_turma}}º Semestre/{{turma.ano_turma}}</td>
              <td><i (click)="onEdit(turma.id)" style="margin-right: 0.75em; color: blue" class="fas fa-edit"></i> <i (click)="onDelete(turma)" class="fas fa-trash" style="color: red"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="text-center">Adicionar nova Turma</h2>
      <form class="main__form needs-validation" novalidade [formGroup] = "formularioTurma">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" class="form-control" id="nomeTurma" aria-describedby="nomeTurma" placeholder="Nome da Turma" formControlName="nome_turma" [ngClass]="{ 'is-invalid': submitted && hasError('nome_turma') }">
                    <label for="nomeTurma">Nome da Turma</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select name="periodoTurma" id="periodoTurma" class="form-control" aria-describedby="periodoTurma" placeholder="Periodo da Turma" formControlName="periodo_turma" [ngClass]="{ 'is-invalid': submitted && hasError('periodo_turma') }">
                      <option value="" disabled selected>Periodo</option>
                      <option value="1">1º Semestre</option>
                      <option value="2">2º Semestre</option>
                    </select>
                    <!-- <label for="periodoTurma" formControlName="">Período da Turma</label> -->
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <input type="number" class="form-control" id="anoTurma" aria-describedby="anoTurma" placeholder="Ano da Turma" formControlName="ano_turma" [ngClass]="{ 'is-invalid': submitted && hasError('ano_turma') }">
                  <label for="anoTurma">Ano da Turma</label>
              </div>
          </div>
        </div>
        <div class="text-center">
            <button type="submit" class=" btn btn-get" (click)="onSubmit()"><span> Enviar</span></button></div>
    </form>
    </div>


  </div>

</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover essa turma?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()"> Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()"> Não</button>
  </div>
</ng-template>
