.content-adicionar-turmas {
    width: 15em;
    height: 8em;
}

.mat-form-field {
  width: 90%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #dd709f !important;
 }

 ::ng-deep .mat-form-field-underline {
  background-color: #dd709f !important;
}

::ng-deep .mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #dd709f !important;;
}
