<html>
<head>
  <title>
  </title>
</head>

<body>
  <div id="interface">
    <div id="tituloPrincipal"><h1>Matricular</h1></div>
    <div id="container">
      <div id="cadastrarAluno">
        <div class="titulo">Aluno</div>
        <div class="camposFormulario">
          <form [formGroup]="formulario" (ngSubmit)="cadastroIndividual(formulario.value)" id="formIndividual">
            <div id="matricula" class="form-group">
              <input type="text" name="matricula" placeholder="Matrícula" formControlName="matricula"/>
            </div>
            <div id="turma" class="form-group">
              <div id="tituloTurma">Turma:</div>
              <select name="turma" form="formIndividual" formControlName="turma">
                <option selected></option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
              </select>
            </div>
            <div class="form-group" id="enviarForm">
              <input type="submit" value="Cadastrar">
            </div>
          </form>
        </div>
      </div>
      <div id="barra"></div>
      <div class="enviarArquivo">
        <div class="titulo">Lista de Matrículas</div>
        <div class="campoArquivo">
          <label for="nomeCampo">LISTA DE MATRÍCULAS +</label>
          <input type="file" name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
        </div>
        <div class="campoSemestre">
          <div class="tituloSemestre">Semestre:</div>
          <select>
            <option selected="selected"></option>
            <option value="1">1º</option>
            <option value="2">2º</option>
            <option value="3">3º</option>
            <option value="4">4º</option>
            <option value="5">5º</option>
            <option value="6">6º</option>
            <option value="7">7º</option>
            <option value="8">8º</option>
            <option value="9">9º</option>
            <option value="10">10º</option>
            <option value="11">11º</option>
            <option value="12">12º</option>
            <option value="13"v>13º</option>
            <option value="14">14º</option>
            <option value="15">15º</option>
            <option value="16">16º</option>
          </select>
        </div>
        <div class="botaoCadastrar"><button>Cadastrar</button></div>
      </div>
    </div>
    <div id="tabelaMatriculas">
      <div *ngIf="records.length > 0">
        <p>Você enviou a seguinte lista:</p>
        <table class="minimalistBlack">
          <thead>
            <tr>
              <th>Matrícula </th>
              <th>Turma</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of records;let i = index;">
              <td> <span>{{record.matricula}}</span> </td>
              <td> <span>{{record.turma}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
