<div class="tela-cheia">
        <h2>Meu grupo</h2>
  <div class="row">
          <div class="col-md-6" id="paginaGrupo" *ngFor="let aluno of alunos">
            <div class="force-overflow">
              <div class="grupos">
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel class="grupos-cards flex-fill" hideToggle  >
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        <img [src]="aluno.foto ? fotoUrl(aluno.foto) : 'https://www.w3schools.com/howto/img_avatar.png'" alt="Avatar" class="foto-aluno" >
                        <div>
                        </div>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                      <p class="card-text card-nome only-desktop">{{aluno.first_name}} {{aluno.last_name}}</p>
                      <p class="card-text card-nome only-mobile" [ngStyle]="{'font-size': tamanhoNome(aluno.first_name, aluno.last_name)}">{{aluno.first_name}} {{aluno.last_name}}</p>
                      <p class="card-text card-matricula">{{aluno.username}}</p>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
    </div>
</div>
  