/* .card-grupo {
    align-items: center;
    font-size: medium;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
}

.avatar-grupo {
    width: 100%;
} */

h1, h5, h6 {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
  }

  h2 {
    font-size: x-large;
    font-family: "Nunito", sans-serif;
    text-align: center;
  }

  .row {
      display: flex;
      margin-right: 0;
      margin-left: 0;
  }

  .foto-aluno {
    width: 3em;
    float: left;
    margin-right: 1em;
    border-radius: 50%;
  }

  .grupos {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  @media (hover: none) {
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
        background: #e2eeeb;
    }
  }

  @media only screen and (min-width: 768px) {
    .grupos-cards {
      border-radius: 8px !important;
      margin-bottom: 10px;
      background: #6fafa02b;
      width: 29em;
    }
  }

  @media only screen and (max-width: 768px) {
    .grupos-cards {
      border-radius: 8px !important;
      margin-bottom: 10px;
      background: #6fafa02b;
      width: 52vh;
    }

    .grupos {
      margin-bottom: 10em;
    }
  }


  mat-panel-title {
    flex-basis: 100%;
    font-family: 'Varela Round', sans-serif;
    font-size: 19px;
  }

  .aluno {
    padding: 0.5em;
    background: #eaf2f0;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
    border: 2px solid #dad9d9a1;
    margin-top: 0.5em;
  }
  
  mat-form-field {
    margin-right: 12px;
  }


  .card-nome {  
    color: #000000;
    font-weight: bold;
    font-style: italic;
  }

  .card-matricula {
    color: #505050;
    font-style: oblique;
  }

  .funcoes-grupos {
    width: 2.3em;
    font-size: 1.3em;
    justify-content: space-between;
  }

    i {
      cursor: pointer;
    }

    i:hover {
      color: black !important;
    }

    .btn-get {
      font-family: "Nunito", sans-serif;
      color: #fff !important;
      text-transform: capitalize;
      background: #f44b72;
      padding: 10px 20px 10px;
      position: relative;
      border: 0;
      border-radius: 5px;
      overflow: hidden;
      text-transform: capitalize !important;
    }
  
    .btn-get::before {
      position: absolute;
      content: '';
      top: 0;
      height: 100%;
      width: 0;
      left: 0;
      background-image: -webkit-gradient(linear, left top, right top, from(#e9b1c9), to(#e194b5));
      background-image: linear-gradient(to right, #e9b1c9, #efe0e6);
      -webkit-transition: .5s ease-out;
      transition: .5s ease-out;
    }
  
    .btn-get:hover::before {
      width: 100%;
    }
  
    .btn-get span {
      position: relative;
      z-index: 2;
    }
    
    .btn-confirm{
      padding: 10px 20px 10px;
      content: '';
      background-color: #549dc2;
      -webkit-transition: .5s ease-out;
      transition: .5s ease-out;
    }

    .btn-decline{
      padding: 10px 20px 10px;
      content: '';
      background-color: #dd709f;
      -webkit-transition: .5s ease-out;
      transition: .5s ease-out;
      margin: 0.5rem;
    }

    .navbar-center{
      background: -webkit-gradient(linear, left top, right top, from(#e194b5), to(#e9b1c9));
      background: linear-gradient(to right, #a0e0e4, #e194b5);
      height: 6em;
      padding: 1.5em;
      margin-bottom: 4rem;
    }

    .label-float {
      position: relative;
      padding-top: 3em;
    }

    .label-float input {
      border: 0;
      outline: none;
      font-size: 1em;
      transition: all .3s ease-out;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      -webkit-appearance:none;
      border-radius:0;
    }

    .label-float input:focus {
      border-bottom: 2px solid #dd709f;
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none;
    }

    .label-float input::placeholder {
      color:transparent;
    }

    .label-float label {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 3em;
      transition: all .3s ease-out;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
    }

    .label-float input:focus + label,
    .label-float input:not(:placeholder-shown) + label {
      font-size: 0.8em;
      margin-top: 0;
      color: #dd709f;
    }

    #iconeEditar {
      color: #206b43;
      float: right;
    }

    #iconeExcluir {
      color: #f30872;
      float: right;
    }

    .modal-body {
      background-color: #fff;
          border-radius: 30px;

    }

    .scroll{
      overflow-y: scroll;
      min-height: 13em;
      max-height: 20em;
      margin-top: 4em;
    } 

    .card-grupo {
      margin-bottom: 3em;
      margin-top: 3em;
      align-items: center;
      /* font-size: medium; */
    }

    .card-text {
      margin: 0px;
      font-family: 'Varela Round', sans-serif;
    }

    .turmas_form .form-group label {
      font-family: "Nunito", sans-serif;
      font-size: 1em;
      color: #575757;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: 0;
      -webkit-transition: .3s all;
      transition: .3s all;
    }
  
    .turmas_form .form-group input,
    .turmas_form .form-group textarea,
    .turmas_form .form-group select {
      font-size: 1em;
      border: none;
      border-bottom: 2px solid #f44b72;
      /* outline: none; */
      /* outline-color: #6fafa0; */
      outline-width: thick;
      padding: 0 2.5rem;
      position: relative;
      z-index: 1;
      background: transparent;
      height: 6rem;
    }
    
    .centralize-button {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .text-right {
      display: flex;
      justify-content: right;
      text-align: right;
    }

    .gerar-grupos {
      margin-top: 1em;
      display: flex;
      justify-content: center;
    }

    .btn-gerar-grupos {
      background: #ffb032;
    }


    @media only screen and (min-width: 768px) {
      .scroll {
        overflow: auto;
        max-height: 30em 
      }
      
      .scrollbar {
        margin-top: 1em;
        height: 30em;
        overflow-y: auto;
        padding-right: 5px;
      }
    
      .force-overflow {
        max-height: 30em;
      }
    
      #style-scroll::-webkit-scrollbar-track {
        -webkit-box5shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
      }
    
      #style-scroll::-webkit-scrollbar {
        width: 3px;
        height: 5px;
        background-color: #F5F5F5;
      }
    
      #style-scroll::-webkit-scrollbar-thumb {
        background-color: #000000;
      }
    }  

  @media only screen and (max-width: 768px) {
    .only-desktop {
      display:  none;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .only-mobile {
      display:  none;
    }
  }

  .adicionar-turma {
    background: #ffb032;
    position: fixed;
    bottom: 5.5em;
    width: 4em;
    height: 4em;
    margin: 5% auto;
    left: 0;
    right: 11em;
    justify-content: center;
    align-content: center;
  }

  .add-icon {
    height: 54px;
    width: 54px;
    font-size:41px !important;
  }
  
  .grupo-aleatorio {
    background: #9cc2cc;
    right: 0em;
    left: 11em;
  }

  .imagem-grupo-aleatorio {
    width: 2.5em;
    height: 2.5em;
  }
