mat-expansion-panel {
  background: #E1EDEB;
}

mat-panel-description {
  margin: 0;
  padding-top: 15px;
}

h6 {
  text-align: center;
}

.container {
  padding: 0;
}

.row {
  /* margin: 0; */
}

.col-md-12 {
  margin: 0;
}

.descricao {
  color: black;
  margin-top: 1em;
}

.realizacao {
  padding: 5px 15px;
}

.text-center {
  margin: 15px;
}

.botao {
  color: #FFFFFF;
  background: #3a6f63;
  margin-top: 1em;
  border-radius: 0.3em;
  width: 11em;
  font-size: 1.3em;
  display: block;
  margin-left: auto;
  margin-right: 0em;
}

.painel_data_disponibilizacao {
  color: #206b43;
  font-size: 80%;
  margin: 0;
  text-align: end;
}

.painel_data_encerramento {
  color: #f30872;
  font-size: 80%;
  margin: 0;
  text-align: end;
}

.icone-agenda {
  font-size: 1.5em;
  margin-right: 0.5em;
}

.icone-done {
  font-size: 1.2em;
  margin-left: 1em;
}

.nao-feito {
  color: #ef2d5a;
}

.feito {
  color: #2196f3;
}

.fazer {
  color: #ef752d;
}

.agenda-card {
  display: flex;
}

h4 {
  font-size: 14px;
  margin-bottom: 0 !important;
}

.width-agenda {
  width: 100%;
}