.agenda-indisponivel {
  color: red;
  text-align: right;
  font-size: 1em;
  margin-right: 2em;
}


@media only screen and (min-width: 768px) {
  mat-expansion-panel {
    background: #E1EDEB;
  }

  mat-panel-description {
    margin: 0;
  }

  h6 {
    text-align: center;
  }

  .container {
    /* padding: 0; */
    width: 95%;
  }

  .margem {
    margin-bottom: 3em;
  }

  .row {
    /* margin: 0; */
  }

  .col-md-12 {
    margin: 0;
  }

  .descricao {
    color: black;
    margin-top: 1em;
  }

  .realizacao {
    padding: 5px 15px;
  }

  .text-center {
    margin: 15px;
  }

  .botao {
    color: #FFFFFF;
    background: #3a6f63;
    margin-top: 1em;
    border-radius: 0.3em;
    width: 9em;
    font-size: 1.3em;
    display: block;
    margin-left: auto;
    margin-right: 2em;
  }

  .botao-enviar {
    color: #FFFFFF;
    background: #3a6f63;
    margin-top: 1em;
    border-radius: 0.3em;
    width: 9em;
    font-size: 1.3em;
    display: block;
    margin-left: auto;
    margin-right: 2em;
  }

  .botao-excluir {
    color: #FFFFFF;
    background: #ef425a;
    margin-top: 1em;
    border-radius: 0.3em;
    width: 9em;
    font-size: 1.3em;
    margin-right: 2em;
    display: block;
  }

  .painel_data_disponibilizacao {
    color: #206b43;
    font-size: 80%;
    margin: 0;
    text-align: end;
  }

  .painel_data_encerramento {
    color: #f30872;
    font-size: 80%;
    margin: 0;
    text-align: end;
  }

  .icone-agenda {
    font-size: 1.5em;
    margin-right: 0.5em;
  }

  .icone-done {
    font-size: 1.2em;
    margin-left: 1em;
  }

  .nao-feito {
    color: #ef2d5a;
  }

  .feito {
    color: #2196f3;
  }

  .fazer {
    color: #ef752d;
  }

  .agenda-card {
    display: flex;
  }

  h4 {
    font-size: 14px;
    margin-bottom: 0 !important;
  }

  .width-agenda {
    width: 100%;
  }

  ::ng-deep .mat-expansion-panel-header {
    padding: 0 !important;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0px 63px 16px !important;
  }
}

@media only screen and (max-width: 768px) {
  h3 {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  mat-expansion-panel {
    background: #E1EDEB;
  }

  mat-panel-description {
    margin: 0;
  }

  h6 {
    text-align: center;
  }

  .container {
    /* padding: 0; */
    width: 100%;
  }

  .margem {
    margin-bottom: 6em;
    /* margin-bottom: 3em; */
  }

  .row {
    /* margin: 0; */
  }

  .col-md-12 {
    margin: 0;
  }

  .descricao {
    color: black;
    /* margin-top: 1em; */
  }

  .realizacao {
    /* padding: 5px 15px; */
  }

  .text-center {
    /* margin: 15px; */
  }

  .botao {
    color: #FFFFFF;
    background: #3a6f63;
    /* margin-top: 1em; */
    border-radius: 0.3em;
    width: 7em;
    font-size: 0.9em;
    display: block;
    margin-left: auto;
    margin-right: 2em;
  }

  .botao-enviar {
    color: #FFFFFF;
    background: #3a6f63;
    /* margin-top: 1em; */
    border-radius: 0.3em;
    width: 9em;
    font-size: 0.9em;
    display: block;
    margin-left: auto;
    margin-right: 2em;
  }

  .botao-excluir {
    color: #FFFFFF;
    background: #ef425a;
    /* margin-top: 1em; */
    border-radius: 0.3em;
    width: 7em;
    font-size: 0.9em;
    margin-right: 2em;
    display: block;
  }

  .painel_data_disponibilizacao {
    color: #206b43;
    /* font-size: 80%; */
    margin: 0;
    text-align: end;
  }

  .painel_data_encerramento {
    color: #f30872;
    /* font-size: 80%; */
    margin: 0;
    text-align: end;
  }

  .icone-agenda {
    /* font-size: 1.5em; */
    margin-right: 0.5em;
  }

  .icone-done {
    /* font-size: 1.2em; */
    margin-left: 1em;
  }

  .nao-feito {
    color: #ef2d5a;
  }

  .feito {
    color: #2196f3;
  }

  .fazer {
    color: #ef752d;
  }

  .agenda-card {
    display: flex;
  }

  h4 {
    font-size: 1em;
    margin-bottom: 0 !important;
  }

  .width-agenda {
    /* width: 100%; */
  }

  ::ng-deep .mat-expansion-panel-header {
    padding: 0 !important;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0.6em !important;
  }
}

@media only screen and (max-width: 768px) {
  .only-desktop {
    display:  none;
  }
}

@media only screen and (min-width: 768px) {
  .only-mobile {
    display:  none;
  }
}
