<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<script data-autoinit="true" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js"></script>

<div class="tela-cheia">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Agendas Não Realizadas</h2>
        <div *ngIf="agendasNaoRealizadas?.length > 0; then temAgendasNaoRealizadas else naoTemAgendasNaoRealizadas"></div>
      </div>
      <div class="col-md-12">
        <h2 class="text-center">Agendas Realizadas</h2>
        <div *ngIf="agendasRealizadas?.length > 0; then temAgendasRealizadas else naoTemAgendasRealizadas"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #temAgendasNaoRealizadas>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let agenda of agendasNaoRealizadas" class="cards" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                {{agenda.nome}}
              </div>
              <div class="col-md-4">
                {{agenda.tipo}}
              </div>
              <div class="col-md-4">
                {{agenda.data_disponibilizacao | date:'dd/MM/yyyy'}} - {{agenda.data_encerramento | date:'dd/MM/yyyy'}}
              </div>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div class="row">
          <div class="col-md-12 descricao">
            {{agenda.descricao}}
          </div>
          <div *ngIf="agenda.data_disponibilizacao <= dataAtual && dataAtual <= agenda.data_encerramento">
            <div class="col-md-12">
              <button (click)="openDialog('criacao', agenda)" class="btn botao" type="button">Realizar</button>
            </div>
          </div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>
<ng-template #naoTemAgendasNaoRealizadas>
  <h6>Não há agendas não realizadas.</h6>
</ng-template>

<ng-template #temAgendasRealizadas>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let agenda of agendasRealizadas" class="cards" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                {{agenda.agenda.nome}}
              </div>
              <div class="col-md-4">
                {{agenda.agenda.tipo}}
              </div>
              <div class="col-md-4">
                {{agenda.agenda.data_disponibilizacao | date:'dd/MM/yyyy'}} - {{agenda.agenda.data_encerramento | date:'dd/MM/yyyy'}}
              </div>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div class="row">
          <div class="col-md-12 descricao">
            {{agenda.agenda.descricao}}
          </div>
          <div class="col-md-12 realizacao">
            <b>Realização</b>
          </div>
          <div class="col-md-12 realizacao">
            {{agenda.realizacao.texto}}
          </div>
          <div class="col-md-12 realizacao">
            <div *ngIf="agenda.realizacao.anexo">
              {{agenda.realizacao.anexo?.split('/')[4]}}
            </div>
            <div *ngIf="!agenda.realizacao.anexo">
              Não há anexo.
            </div>
          </div>
          <div class="col-md-12 align-self-end">
            <div
              *ngIf="agenda.agenda.data_disponibilizacao <= dataAtual && dataAtual <= agenda.agenda.data_encerramento">
              <button (click)="openDialog('alteracao', agenda)" class="btn botao" type="button">Editar</button>
              <button (click)="openDialog('delecao', agenda)" class="btn botao" type="button">Excluir</button>
            </div>
          </div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>
<ng-template #naoTemAgendasRealizadas>
  <h6>Não há agendas realizadas.</h6>
</ng-template>
