<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu&display=swap" rel="stylesheet">

<nav class="navbar-center text-center">
    <h1>Editar Turma</h1>
  </nav>
<div class="col-sm-6" style="margin-left: 25%">
    <form class="main__form needs-validation formularioEditar" novalidade [formGroup] = "formularioTurma">
      <div class="row">
          <div class="col-md-12">
              <div class="form-group label-float">
                  <input type="text" class="form-control" id="nomeTurma" aria-describedby="nomeTurma" placeholder="Nome da Turma" formControlName="nome_turma" [ngClass]="{ 'is-invalid': submitted && hasError('nome_turma') }">
                  <label for="nomeTurma">Nome da Turma</label>
                  <div class="invalid-feedback" *ngIf="hasError('nome_turma')">
                      Por favor, informe o nome da turma.
                    </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group label-float">
                  <select name="periodoTurma" id="periodoTurma" class="form-control" aria-describedby="periodoTurma" placeholder="Periodo da Turma" formControlName="periodo_turma" [ngClass]="{ 'is-invalid': submitted && hasError('periodo_turma') }">
                    <option value="" disabled selected>Selecione o Periodo</option>
                    <option value="1">1º Semestre</option>
                    <option value="2">2º Semestre</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="hasError('periodo_turma')">
                      Por favor, informe o periodo da turma.
                    </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group label-float">
                <input type="number" class="form-control" id="anoTurma" aria-describedby="anoTurma" placeholder="Ano da Turma" formControlName="ano_turma" [ngClass]="{ 'is-invalid': submitted && hasError('ano_turma') }">
                <label for="anoTurma">Ano da Turma</label>
                <div class="invalid-feedback" *ngIf="hasError('ano_turma')">
                    Por favor, informe o ano da turma.
                  </div>
            </div>
        </div>
        <div class="text-left col-md-6">
          <button type="submit" class=" btn btn-get" (click)="onSave(turma)"><span> Salvar</span></button>
        </div>
        <div class="text-right col-md-6">
            <button type="submit" class=" btn btn-get" (click)="return()"><span> Cancelar</span></button>
          </div>
        </div>
  </form>
</div>
